/*layout content and sidebar*/
@media (min-width: 48em) {
    .content {
        display: grid;
        grid-template-columns: auto 300px;
        grid-column-gap: 35px;
        padding:0 32px;
    }
    .main {
        border-right: 1px solid #ccc;
        padding:0rem 2rem 1rem 0rem;
    }
    /*Layout navbar*/
    header {
        display:flex;
        justify-content:space-between;
        padding:1rem 2rem;
        background-color:#39b54a;
        color:#ddd;
    }
    /*End of layout navbar*/
}

@media (min-width: 64em) {
    .content {
        display: grid;
        grid-template-columns: auto 300px;
        grid-column-gap: 45px;
    }
    .main {
        border-right: 1px solid #ccc;
    }
}
/*End of layout content and sidebar*/



