<footer id="footer">
<p>I have created a <a href="/projects/">list of projects</a> you can try out using only your HHTML and CSS skills. If you are just starting out you can test the waters by attempting the <a href="/create-a-web-page-using-html/">project-based HTML tutorial for beginners</a> that I made just for you.</p>

<p>Okay, you got me there, I made it because it was fun to do and I enjoy helping you enjoy learning HTML and CSS as well. Who said learning and building things should be dull. Seriously though checkout the tutorial and happy learning time.</p>
<p>Website <a href="/resources/">built with</a> and by <a href="/about/">Avic Ndugu</a></p>
</footer>