<aside class="aside">
  <h5>Join the Newsletter</h5>
  <p>
     I send out an email when I create something new. Never any spam, easily unsubscribe any time.
  </p>
  <a href="https://devpractical.substack.com/subscribe">
     <button>
       Subscribe
     </button>
  </a>
  <section>
    <h3>About</h3>
    <p><a href="">Learn HTML</a></p>
    <p><a href="">Learn CSS </a></p>
    <p><a href="">Practice HTML</a></p>
    <p><a href="">Practice CSS</a></p>
    </section>
  <div class="related">
  <h2>Recent Posts</h2>
    <ul class="related-posts">
      {% for post in site.related_posts limit:5 %}
        <li>
          <p>
            <a href="{{ post.url }}">
              {{ post.title }}
              <small>{{ post.date | date_to_string }}</small>
            </a>
          </p>
        </li>
      {% endfor %}
    </ul>
  </div>
</aside>
