<aside class="aside">
  <section>
    <h5>Join the Newsletter</h5>
    <p>
       I send out an email when I create something new. Never any spam, easily unsubscribe any time.
    </p>
    <a href="https://devpractical.substack.com/subscribe">
       <button>
         Subscribe
       </button>
    </a>
    <h5>About</h5>
    <p>If you are just starting out you can test the waters by attempting the <a href="/create-a-web-page-using-html/">project-based HTML tutorial for beginners</a> that I made just for you.</p>
    <p>Okay, you got me there, I made it because it was fun and I enjoy helping you on your learning journey as well.</p>
    <p>I have created a <a href="/projects/">list of HTML and CSS projects</a> that you can try out.</p>

    <p><a href="/practice-html/">Learn HTML</a></p>
    <!-- <p><a href="/project-based-html-css-tutorials/">Learn CSS </a></p> -->
    <p><a href="/how-to-practice-html-offline/">Practice HTML</a></p>
    <!-- <p><a href="/projects/">Practice CSS</a></p> -->
  </section>
</aside>
